*{
	margin: 0;
}

body{
	width: 1020px;
	height: 1020px;
	background-color: #f4f7f1;
	font-family: Arial;
}
.content{
	width: 500px;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.box1 {
	width: 100%;
	margin-bottom: 10px;
	padding:10px 0 10px 0;
}
.box {
	width: 100%;
	border-bottom: 1px solid #c5c4c5;
	margin-bottom: 10px;
	padding:10px 0 10px 0;
}
.box img{
	position: relative;
    margin: 0 50% ;
}
.box p {
	color: #5c5d5d;
	text-decoration: underline;
}
.box ul, .box1 ul{
	padding:10px 0 10px 0;
	margin-left: 30px; 
}

.box ul li, .box1 ul li{
	color: #5c5d5d;	
	
}
.cc{
	list-style: none;
}